3. FORGOT YOUR PASSWORD EMAIL: <br><br>

Subject: Reset Your Password for Lasimra e-Collection System

<p>Dear [Company Name],</p>

<p>We received a request to reset the password for your [Lasimra e-Collection System] account. </p>
    
<p>If you made this request, please follow the instructions below to reset your password.</p> 
<p>If you did not request a password reset, you can safely ignore this email.</p>

<p>To reset your password, click the link below:</p>

[Reset Password]
<p>For security reasons, this link will expire in 24 hours. If the link has expired, you can request a new password reset.</p>

<p>If you continue to experience issues or have any questions, please contact our support team at [Support Email] or
[Support Phone Number].</p>

<p>Thank you for using Lasimra e-Collection System.</p>

Best regards,<br>
<strong><i>Lasimra e-Collection System Team</i></strong>