5. NOTIFY ADMIN OF CHANGE OF COMPANY INFORMATION
<br><br>

Subject: Company Information Updated - [Company Name]<br><br>
Dear Admin,<br>

<p>We would like to inform you that [Company Name] has updated their company information. Below are the details of the
updated information:</p>

<p>
    <ul>
        <li>Reference Number: [Reference Number]</li>
        <li>Date of Update: [Date]</li>
        <li>
            Updated Information:
            <ul>
                <li>Contact Email: [New Contact Email]</li>
                <li>Contact Phone: [New Contact Phone]</li>
                <li>Company Address: [New Company Address]</li>
                <li>Other Updates: [Details of Other Updates]</li>
            </ul>
        </li>
    </ul>
</p>

<p>Please review the updated information and take any necessary actions.</p>
<p>Thank you.</p>

Best regards,<br>
<strong><i>Lasimra e-Collection System Team</i></strong>