2. NOTIFY ADMIN OF NEW DEMAND NOTICE CREATION

Subject: New Demand Notice Created by [Company Name] - Ref No: [Reference Number]

Dear Admin,<br /><br />
<p>We would like to notify you that [Company Name] has created a new demand notice. Below are the details of the created
demand notice:</p>
<p>
    <ul>
        <li>Reference Number: [Reference Number]</li>
        <li>Date Created: [Date]</li>
        <li>Type: New Application for Building Permit / Existing Infrastructure</li>
        <li>Amount Due: [Amount Due]</li>
    </ul>
</p>

<p>Please review the demand notice and take any necessary actions.</p>

<p>Thank you.</p>

Best regards,<br />
<i>Lasimra e-Collection System Team</i>