
<p>Dear Admin, <br /><br />
    We are pleased to inform you that a new company has registered on the Lasimra e-Collection System. Below are the
    details
    of the registered company:</p>
<p>
<ul>
    <li>Company Name: {{company_name}}</li>
    <li>Registration Date: {{reg_date}}</li>
    <li>Contact Email: {{company_email}}</li>
    <li>Contact Phone: {{company_phone}}</li>
</ul>
</p>
<p>Please review the registration details and take any necessary actions.</p>

<p>Thank you.</p>

Best regards, <br />
<strong><i>Lasimra e-Collection System Team</i></strong>