{% extends 'emailbase.html' %}
{% block content %}

<p>Dear Admin,</p>

<h2> ADMIN OF PAID DEMAND NOTICE</h2>

<!-- 4. Subject: Your Demand Notice Has Been Created Successfully - Ref No: [Reference Number]

Subject: Payment Confirmation for Demand Notice - [Company Name] - Ref No: [Reference Number] -->
<p>We are pleased to inform you that [Company Name] has successfully paid their demand notice. Below are the details of
    the
    payment:</p>

<p>
    <ul>
        <li>Reference Number: {{referenceid}}</li>
        <li>Date: {{ dn_date|date:"M d, Y"}}</li>
        <li>Amount Due: &#8358;{{ amount_due | floatformat:2 | intcomma }}</li>
    </ul>
</p>

<!-- <p>
<ul>
    <li>Reference Number: [Reference Number]</li>
    <li>Date Paid: [Date]</li>
    <li>Amount Paid: [Amount Paid]</li>
    <li>Type: Demand Notice / Undisputed Demand Notice / Revised Demand Notice</li>
</ul>
</p> -->

<p>Please review the payment details and update the records accordingly.</p>
<p>Thank you.</p>

{% endblock %}