4. NOTIFY ADMIN OF PAID DEMAND NOTICE

Subject: Your Demand Notice Has Been Created Successfully - Ref No: [Reference Number]

Subject: Payment Confirmation for Demand Notice - [Company Name] - Ref No: [Reference Number]
Dear Admin,<br><br>

<p>We are pleased to inform you that [Company Name] has successfully paid their demand notice. Below are the details of
    the
    payment:</p>

<p>
<ul>
    <li>Reference Number: [Reference Number]</li>
    <li>Date Paid: [Date]</li>
    <li>Amount Paid: [Amount Paid]</li>
    <li>Type: Demand Notice / Undisputed Demand Notice / Revised Demand Notice</li>
</ul>
</p>

<p>Please review the payment details and update the records accordingly.</p>
<p>Thank you.</p>

Best regards, <br>
<i>Lasimra e-Collection System Team</i>