{% extends 'base.html' %} {% load static %} {% block content %}
<section
  class="relative w-full flex flex-row items-start justify-start h-screen z-10"
>
  {% include 'tax-payers/aside.html' %}
  <main class="main_side">
    <!-- Top Bar with title page, buttons and notification tabs -->
    <section
      class="w-full flex flex-col md:flex-row justify-between items-center gap-6"
    >
      <article class="flex flex-col flex-grow">
        <h2 class="text-xl text-gray-800">
          Application for Permit to Build Facilities
        </h2>
        <p class="text-sm text-gray400">
          Request access to install your new infrastructure
        </p>
      </article>
      <article class="flex flex-row w-80 justify-end gap-4 items-center">
        <button
          class="border-2 border-gray-300 px-6 py-2 text-gray-900 rounded-md text-sm flex justify-center items-center gap-2"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"
              />
            </svg>
          </span>
          Bulk Upload
        </button>
        <a
          href="/assets/media/uploads/bulk_upload_sample.csv"
          class="text-sm text-gray-800 underline"
          >Download Format</a
        >
      </article>

      <article
        class="w-fit space-x-5 flex flex-row items-center justify-between bg-lightGray600 rounded-full bg-slate-100 p-3"
      >
        <img
          width="20"
          height="20"
          src="https://img.icons8.com/ios/100/appointment-reminders--v1.png"
          alt="appointment-reminders--v1"
        />
        <p class="text-sm text-gray800">{{ request.user }}</p>
        <div class="w-6 h-6 rounded-full">
          <img
            src="/assets/media/{{ request.user.company_logo }}"
            alt="user--v1"
          />
        </div>
      </article>
    </section>
    <section>
      <div id="infra-table"></div>
    </section>
    <!-- Form Tab -->
    {% if undisputed_permits.exists %}
    <section class="w-full mt-20">
      <div class="border-2 border-gray-50 rounded-md shadow-sm">
        <h2>Undisputed Notice</h2>
        <p>&nbsp;</p>
        <table class="md:w-full" id="infra-table">
          <thead class="bg-orange-50 border-b-2 border-gray-50">
            <tr class="[&>th]:text-orange-600">
              <!-- <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">No.</th> -->
              <th class="p-3 text-xs font-semibold tracking-wide text-left">
                Infrastructure
              </th>
              <th
                class="w-24 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Number <span class="block text-[8px]">(no of sites)</span>
              </th>
              <th
                class="w-24 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Length <span class="block text-[8px]">(Meters)</span>
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Address <span class="block text-[8px]">(From)</span>
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Address To
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Installation Date
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Attach File<span class="block text-[8px]"
                  >(application letter)</span
                >
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Attach File<span class="block text-[8px]"
                  >(design drawing)</span
                >
              </th>
              <!-- <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Dispute<span class="block text-[8px]">Edit</span>
              </th> -->
            </tr>
          </thead>
          <tbody>
            {% for pm in undisputed_permits %}
            <tr>
              <td>{{ pm.infra_type }}</td>
              <td>{{ pm.amount }}</td>
              <td>{{ pm.length }}</td>
              <td>{{ pm.add_from }}</td>
              <td>{{ pm.add_to }}</td>
              <td>{{ pm.year_installed }}</td>
              <td>
                {% if pm.upload_asBuilt_drawing %}
                <a
                  target="_blank"
                  href="/assets/media/{{ pm.upload_application_letter }}"
                  >Application</a
                >{% else %} No file {% endif %}
              </td>
              <td>
                {% if pm.upload_asBuilt_drawing %}
                <a
                  target="_blank"
                  href="/assets/media/{{ pm.upload_asBuilt_drawing }}"
                  >As built Drawing
                </a>
                {% else %} No file {% endif %}
              </td>
              <!-- <td>
                <button
                  hx-post="{% url 'dispute-dn-edit' pm.pk %}"
                  hx-swap="beforebegin"
                  hx-target="#table"
                  class="border-2 text-xm bg-orange-600 text-orange-600 border-orange-500 rounded-md px-2 py-1 hover:border-grey-500 hover:bg-grey-500 hover:text-grey-500 cursor-pointer"
                  type="button"
                  title="Close"
                >
                  Edit
                </button>
              </td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mt-10 mx-auto w-80">
        <a
          href="{% url 'undispute_ex_demand_notice_receipt' ref_id %}"
          id="submit-all-permit"
          type="submit"
          class="bg-orange-500 border-2 border-orange-500 px-20 py-3 text-white rounded-md hover:bg-transparent hover:border-orange-500 hover:text-orange-500"
        >
          Update
        </a>
      </div>
    </section>
    {% endif %} {% if permits.exists %}
    <section class="w-full mt-20">
      <div class="border-2 border-gray-50 rounded-md shadow-sm">
        <table class="md:w-full" id="infra-table">
          <thead class="bg-orange-50 border-b-2 border-gray-50">
            <tr class="[&>th]:text-orange-600">
              <!-- <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">No.</th> -->
              <th class="p-3 text-xs font-semibold tracking-wide text-left">
                Infrastructure
              </th>
              <th
                class="w-24 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Number <span class="block text-[8px]">(no of sites)</span>
              </th>
              <th
                class="w-24 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Length <span class="block text-[8px]">(Meters)</span>
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Address <span class="block text-[8px]">(From)</span>
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Address To
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Installation Date
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Attach File<span class="block text-[8px]"
                  >(application letter)</span
                >
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Attach File<span class="block text-[8px]"
                  >(design drawing)</span
                >
              </th>
              <th
                class="w-32 p-3 text-xs font-semibold tracking-wide text-left"
              >
                Dispute<span class="block text-[8px]">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody id="table">
            {% for pm in permits %}
            <tr>
              <td>{{ pm.infra_type }}</td>
              <td>{{ pm.amount }}</td>
              <td>{{ pm.length }}</td>
              <td>{{ pm.add_from }}</td>
              <td>{{ pm.add_to }}</td>
              <td>{{ pm.year_installed }}</td>
              <td>
                {% if pm.upload_asBuilt_drawing %}
                <a
                  target="_blank"
                  href="/assets/media/{{ pm.upload_application_letter }}"
                  >Application</a
                >{% else %} No file {% endif %}
              </td>
              <td>
                {% if pm.upload_asBuilt_drawing %}
                <a
                  target="_blank"
                  href="/assets/media/{{ pm.upload_asBuilt_drawing }}"
                  >As built drawing
                </a>
                {% else %} No file {% endif %}
              </td>
              <td>
                
                <button
                  hx-post="{% url 'dispute_ex_dn_edit' pm.pk %}"
                  hx-swap="beforebegin"
                  hx-target="#table"
                  class="border-2 text-xm bg-orange-600 text-orange-600 border-orange-500 rounded-md px-2 py-1 hover:border-grey-500 hover:bg-grey-500 hover:text-grey-500 cursor-pointer"
                  type="button"
                  title="Close"
                >
                  Edit
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mt-10 mx-auto w-80">
        <!-- <button
          id="submit-all-permit"
          type="submit"
          class="bg-orange-500 border-2 border-orange-500 px-20 py-3 text-white rounded-md hover:bg-transparent hover:border-orange-500 hover:text-orange-500"
        >
          Update
        </button> -->
      </div>
    </section>
    {% endif %}
  </main>
</section>
{% endblock %}
