{% extends 'base.html' %} {% load static %} {% block content %}
<section class="relative w-full flex flex-row items-start justify-start h-screen z-10">

  {% include 'tax-payers/aside.html' %}
  <main class="main_side">

    <!-- Top Bar with title page, buttons and notification tabs -->
    <section class="w-full flex flex-col md:flex-row justify-between items-center gap-6 ">
      <article class="flex flex-col flex-grow">
        <h2 class="text-xl text-gray-800">Application for Permit to Build Facilities</h2>
        <p class="text-sm text-gray400">
          Request access to install your new infrastructure
        </p>
      </article>
      <article class="flex flex-row w-80 justify-end gap-4 items-center">
        <button data-modal-target="authentication-modal1" data-modal-toggle="authentication-modal1"
          class="border-2 border-gray-300 px-6 py-2 text-gray-900 rounded-md text-sm flex justify-center items-center gap-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
            </svg>
          </span>
          Bulk Upload
        </button>
        <a href="/media/bulk_upload_sample.csv" class="text-sm text-gray-800 underline">Download
          Format</a>
      </article>

      {% include 'tax-payers/partials/toasts.html' %}
      {% include 'tax-payers/partials/inc/user_logo.html' %}
    </section>
    {% if request.is_not_complete %}
    {% include 'tax-payers/partials/complete-profile.html' %}
    {% endif %}
    <section class="w-full mt-20 grid grid-cols-6 gap-4">
      {% comment %}
      {% include 'tax-payers/partials/infrastructure-form.html' %}
      {% endcomment %}
      <div class="col-span-1 text-surface text-orange-500 float-right mt-2">
        Infrastructure Type
      </div>
      <div class="col-span-1 text-surface dark:text-white">
        <select name="infrastructure" class="border-2 border-orange-200"
        hx-get="{% url 'add_infrastructure_form' %}"
        hx-target="#infra-form"
        hx-trigger="change"
        >
          {% for infra in infra_types %}
          <option value="{{ infra.pk }}">{{ infra.infra_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-span-3 mx-3 border-2 border-orange-200 p-5 rounded shadow-lg" id="infra-form">
        {% include 'tax-payers/partials/infrastructureform.html' %}
        
      </div>

    </section>

    <section class="w-full mt-20">
      <div class="border-2 border-gray-50 rounded-md shadow-sm">
        <!-- <h2>Undisputed Notice</h2> -->
        <p>&nbsp;</p>
        <table class="md:w-full shadow" id="addtable">
          <thead class="bg-orange-50 border-b-2 border-gray-50">
            <tr class="[&>th]:text-orange-600">
              <!-- <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">No.</th> -->
              <th class="p-3 text-xs font-semibold tracking-wide text-left">
                SN
              </th>
              <th class="p-3 text-xs font-semibold tracking-wide text-left">
                Infrastructure Type
              </th>
              <th class="w-24 p-3 text-xs font-semibold tracking-wide text-left">
                Year
              </th>
              <th class="w-24 p-3 text-xs font-semibold tracking-wide text-left">
                Address
              </th>
              <th class="w-32 p-3 text-xs font-semibold tracking-wide text-left">
                Length (m)
              </th>
              <th class="w-32 p-3 text-xs font-semibold tracking-wide text-left">
                Created by
              </th>
            </tr>
          </thead>
          <tbody id="infra-table">
            {% include 'tax-payers/partials/infrastructure.html' %}
          </tbody>
        </table>
      </div>
      <div class="mt-10 mx-auto w-80">
        <a href="{% url 'generate_demand_notice' %}" id="submit-all-permit" type="submit"
          class="btn">
          Create Demand Notice
        </a>
      </div>
    </section>

  </main>
</section>
{% include 'tax-payers/partials/upload-new.html' %}
{% endblock %}