{% extends 'base.html' %} {% load humanize %} {% load static %} {% block content %}
<section class="relative w-full flex flex-row items-start justify-start h-screen z-10">

  {% include 'tax-payers/aside.html' %}


  <main class="main_side">

    <!-- Top Bar with title page, buttons and notification tabs -->
    <section class="w-full flex flex-row justify-between items-center mb-10">
      <article class="flex flex-col">
        <h2 class="text-xl text-darkBlue">Dashboard</h2>
        <p class="text-sm text-gray600">
          Overview of what's happening
        </p>
      </article>

      
      {% include 'tax-payers/partials/toasts.html' %}
      {% include 'tax-payers/partials/inc/user_logo.html' %}
    </section>
    {% if request.is_not_complete %}
    {% include 'tax-payers/partials/complete-profile.html' %}
    {% endif %}
    
  <!-- Form Tab -->
    <section class="w-full grid grid-rows  md:grid-cols-4 gap-4 justify-between items-center mt-10">
      <div class="card">
        <p>Total Demand Notices</p>
        <h4> {{ demand_notices.count }}</h4>

      </div>
      <div class="card">
        <p>Total Undisputed (Unpaid)</p>
        <h4>{{ undisputed_unpaid.count }}</h4>

      </div>
      <div class="card">
        <p>Total Undisputed (Paid)</p>
        <h4>{{ undisputed_paid.count }}</h4>
      </div>
      <div class="card">

        <p>Total Resolved</p>
        <h4>{{ resolved.count }}</h4>

      </div>
      </div>
    </section>

    <section class="mt-5 space-x-4 flex flex-col md:flex-row">
      <article class="flex flex-row items-center justify-start space-x-2">
        <a href="{% url 'apply_existing_infra' %}" class="btn border-2 border-orange-500">Upload Existing Facilities</a>
        <a href="{% url 'apply_for_permit' %}" class="btn-outline">Apply for New Permit to Build</a>
      </article>
    </section>

    <section class="mt-10 w-full">
      <!--Tabs navigation-->
      <div x-data="{currentTab: 'All'}">

        <ul class="mb-5 flex list-none flex-row flex-wrap md:gap-4 border-b-0 ps-0" role="tablist" data-twe-nav-ref>
          <li role="presentation">
            <a href="#tabs-all"
              class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-sm font-medium titlecase text-gray-600 leading-tight"
              id="tabs-all-tab" data-bs-toggle="pill" data-bs-target="#tabs-all" role="tab" aria-controls="tabs-all"
              aria-selected="true" @click.prevent="currentTab=$el.innerHTML"
              :class="currentTab == $el.innerHTML ? 'active' : '' ">All</a>
          </li>
          <li role="presentation">
            <a href="#tabs-paid"
              class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-sm font-medium titlecase text-gray-600 leading-tight"
              id="tabs-paid-tab" data-bs-toggle="pill" data-bs-target="#tabs-paid" role="tab" aria-controls="tabs-paid"
              aria-selected="false" @click.prevent="currentTab=$el.innerHTML"
              :class="currentTab == $el.innerHTML ? 'active' : '' ">Resolved</a>
          </li>
          <li role="presentation">
            <a href="#tabs-disputed"
              class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-sm font-medium titlecase text-gray-600 leading-tight"
              id="tabs-disputed-tab" data-bs-toggle="pill" data-bs-target="#tabs-disputed" role="tab"
              aria-controls="tabs-disputed" aria-selected="false" @click.prevent="currentTab=$el.innerHTML"
              :class="currentTab == $el.innerHTML ? 'active' : '' ">Disputed</a>
          </li>
          <li role="presentation">
            <a href="#tabs-revised"
              class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-sm font-medium titlecase text-gray-600 leading-tight"
              id="tabs-revised-tab" data-bs-toggle="pill" data-bs-target="#tabs-revised" role="tab"
              aria-controls="tabs-revised" aria-selected="false" @click.prevent="currentTab=$el.innerHTML"
              :class="currentTab == $el.innerHTML ? 'active' : '' ">Revised</a>
          </li>
          <li role="presentation">
            <a href="#tabs-demand-notice"
              class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-sm font-medium titlecase text-gray-600 leading-tight"
              id="tabs-revised-tab" data-bs-toggle="pill" data-bs-target="#tabs-revised" role="tab"
              aria-controls="tabs-revised" aria-selected="false" @click.prevent="currentTab=$el.innerHTML"
              :class="currentTab == $el.innerHTML ? 'active' : '' ">Demand Notice</a>
          </li>

        </ul>

        <!--Tabs content-->
        <div class="mb-6">
          <div x-show="currentTab == 'All'" class=" opacity-100 transition-opacity duration-150 ease-linear"
            id="tabs-all" role="tabpanel" aria-labelledby="tabs-all-tab">
            <!-- All Tabs -->
            <section class="flex flex-col w-full">

              <article class="flex md:self-end md:-mt-[80px] spacing-x-2 gap-4">
                <!-- Search and Sort Table -->
                {% include 'tax-payers/partials/search/search-dashboard.html' %}
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-20 px-2 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-orange-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                  </svg>
                  <p class=" font-normal text-gray-800 text-sm">Sort</p>

                </div>
              </article>
              <article class="overflow-auto rounded-lg shadow md:mt-10">
                <!-- Data Table -->

                <table class="w-full overflow-auto">
                  <thead class="bg-gray-50 border-b-2 border-gray-200">
                    <tr>
                      <th>ID</th>
                      <th>Amount due</th>
                      <th>Annual fee</th>
                      <th>Remittance</th>
                      <th>Amount Paid</th>
                      <th>Penalty</th>
                      <th>Waiver</th>
                      <th>Total due</th>
                      <th>Date Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <!-- hover:[&>*:nth-child(odd)]:bg-white -->
                  <tbody class="divide-y divide-gray-100 bg-white" id="search-result">
                    {% include 'tax-payers/partials/search/search-result-dn.html' %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">Rows per page</td>
                    </tr>
                  </tfoot>
                </table>
              </article>
            </section>
          </div>
          <div x-show="currentTab == 'Resolved'" class="transition-opacity duration-150 ease-linear" id="tabs-paid"
            role="tabpanel" aria-labelledby="tabs-paid-tab">
            <!-- Paid Tabs -->
            <section class="flex flex-col w-full">

              <article class="flex md:self-end md:-mt-[80px] spacing-x-2 gap-4">
                <!-- Search and Sort Table -->
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-80 px-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5 text-darkBlue">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                  <form>
                    <input type="text" placeholder="Search"
                      class="w-full text-gray800 placeholder-gray400 text-semibold border-0 p-2 ring-0 outline-none bg-transparent focus-within:border-0 rounded-full cursor-pointer" />
                  </form>
                </div>
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-20 px-2 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-orange-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                  </svg>
                  <p class=" font-normal text-gray-800 text-sm">Sort</p>

                </div>
              </article>
              <article class="overflow-auto rounded-lg shadow md:mt-10">
                <!-- Data Table -->

                <table class="w-full overflow-auto">
                  <thead class="bg-gray-50 border-b-2 border-gray-200">
                    <tr>
                      <th>ID</th>
                      <th>Amount due</th>
                      <th>Annual fee</th>
                      <th>Remittance</th>
                      <th>Amount Paid</th>
                      <th>Penalty</th>
                      <th>Waiver</th>
                      <th>Total due</th>
                      <th>Date Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <!-- hover:[&>*:nth-child(odd)]:bg-white -->
                  <tbody class="divide-y divide-gray-100 bg-white ">
                    {% if resolved.exists %}
                    {% for dn in resolved %}
                    {% include 'tax-payers/partials/search/search-result.html' %}
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="10"> No resolved demand notice
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">Rows per page</td>
                    </tr>
                  </tfoot>
                </table>
              </article>
            </section>
          </div>
          <div x-show="currentTab == 'Disputed'" class="transition-opacity duration-150 ease-linear" id="tabs-disputed"
            role="tabpanel" aria-labelledby="tabs-disputed-tab">
            <!-- Disputed Tabs -->
            <section class="flex flex-col w-full">

              <article class="flex md:self-end md:-mt-[80px] spacing-x-2 gap-4">
                <!-- Search and Sort Table -->
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-80 px-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5 text-darkBlue">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                  <form>
                    <input type="text" placeholder="Search"
                      class="w-full text-gray800 placeholder-gray400 text-semibold border-0 p-2 ring-0 outline-none bg-transparent focus-within:border-0 rounded-full cursor-pointer" />
                  </form>
                </div>
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-20 px-2 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-orange-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                  </svg>
                  <p class=" font-normal text-gray-800 text-sm">Sort</p>

                </div>
              </article>
              <article class="overflow-auto rounded-lg shadow md:mt-10">
                <!-- Data Table -->

                <table class="w-full overflow-auto">
                  <thead class="bg-gray-50 border-b-2 border-gray-200">
                    <tr>
                      <th>ID</th>
                      <th>Amount due</th>
                      <th>Annual fee</th>
                      <th>Remittance</th>
                      <th>Amount Paid</th>
                      <th>Penalty</th>
                      <th>Waiver</th>
                      <th>Total due</th>
                      <th>Date Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <!-- hover:[&>*:nth-child(odd)]:bg-white -->
                  <tbody class="divide-y divide-gray-100 bg-white ">
                    {% if disputed.exists %}
                    {% for dn in disputed %}
                    {% include 'tax-payers/partials/search/search-result.html' %}
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="10"> No disputed demand notice
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">Rows per page</td>
                    </tr>
                  </tfoot>
                </table>
              </article>
            </section>
          </div>
          <div x-show="currentTab == 'Revised'" class="transition-opacity duration-150 ease-linear" id="tabs-revised"
            role="tabpanel" aria-labelledby="tabs-revised-tab">
            <!-- Revised Tabs -->
            <section class="flex flex-col w-full">

              <article class="flex md:self-end md:-mt-[80px] spacing-x-2 gap-4">
                <!-- Search and Sort Table -->
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-80 px-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5 text-darkBlue">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                  <form>
                    <input type="text" placeholder="Search"
                      class="w-full text-gray800 placeholder-gray400 text-semibold border-0 p-2 ring-0 outline-none bg-transparent focus-within:border-0 rounded-full cursor-pointer" />
                  </form>
                </div>
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-20 px-2 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-orange-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                  </svg>
                  <p class=" font-normal text-gray-800 text-sm">Sort</p>

                </div>
              </article>
              <article class="overflow-auto rounded-lg shadow md:mt-10">
                <!-- Data Table -->

                <table class="w-full overflow-auto">
                  <thead class="bg-gray-50 border-b-2 border-gray-200">
                    <tr>
                      <th>ID</th>
                      <th>Amount due</th>
                      <th>Annual fee</th>
                      <th>Remittance</th>
                      <th>Amount Paid</th>
                      <th>Penalty</th>
                      <th>Waiver</th>
                      <th>Total due</th>
                      <th>Date Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <!-- hover:[&>*:nth-child(odd)]:bg-white -->
                  <tbody class="divide-y divide-gray-100 bg-white ">
                    {% if revised.exists %}
                    {% for dn in revised %}
                    {% include 'tax-payers/partials/search/search-result.html' %}
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="10"> No revised demand notice
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">Rows per page</td>
                    </tr>
                  </tfoot>
                </table>
              </article>
            </section>
          </div>
          <div x-show="currentTab == 'Demand Notice'" class="transition-opacity duration-150 ease-linear" id="tabs-demand-notice"
            role="tabpanel" aria-labelledby="tabs-demand-notice-tab">
            <!-- Revised Tabs -->
            <section class="flex flex-col w-full">

              <article class="flex md:self-end md:-mt-[80px] spacing-x-2 gap-4">
                <!-- Search and Sort Table -->
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-80 px-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5 text-darkBlue">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                  <form>
                    <input type="text" placeholder="Search"
                      class="w-full text-gray800 placeholder-gray400 text-semibold border-0 p-2 ring-0 outline-none bg-transparent focus-within:border-0 rounded-full cursor-pointer" />
                  </form>
                </div>
                <div
                  class="flex flex-row justify-start items-center  spacing-x-1 border-[1px] border-slate-200 rounded-full w-20 px-2 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-orange-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                  </svg>
                  <p class=" font-normal text-gray-800 text-sm">Sort</p>

                </div>
              </article>
              <article class="overflow-auto rounded-lg shadow md:mt-10">
                <!-- Data Table -->

                <table class="w-full overflow-auto">
                  <thead class="bg-gray-50 border-b-2 border-gray-200">
                    <tr>
                      <th>ID</th>
                      <th>Amount due</th>
                      <th>Annual fee</th>
                      <th>Remittance</th>
                      <th>Amount Paid</th>
                      <th>Penalty</th>
                      <th>Waiver</th>
                      <th>Total due</th>
                      <th>Date Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <!-- hover:[&>*:nth-child(odd)]:bg-white -->
                  <tbody class="divide-y divide-gray-100 bg-white ">
                    {% if demand_notice.exists %}
                    {% for dn in demand_notice %}
                    {% include 'tax-payers/partials/search/search-result.html' %}
                    {% endfor %}
                    {% else %}
                    <tr><td colspan="10"> No demand notice</td>
                    </tr>
                    {% endif %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">Rows per page</td>
                    </tr>
                  </tfoot>
                </table>
              </article>
            </section>
          </div>

        </div>

      </div>
    </section>
    <!-- Popup -->
    <div id="modal" class="fixed z-50 inset-0 w-screen hidden">
      <!-- bg-gray-500 bg-opacity-75 transition-opacity -->
      <div class="flex items-center justify-center w-screen min-h-screen bg-gray-100 bg-opacity-75 transition-opacity">
        <!-- Modal Box -->
        <div class="flex flex-col items-center justify-between bg-white p-10 rounded-md w-2/4 shadow-sm gap-4">
          <div class="self-end cursor-pointer" id="close-modal-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-8 h-8 text-gray-800 self-end">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </div>

          <img src="{% static 'img/Success.png'  %}" alt="Success Icon" class="mt-5" />

          <div class="flex flex-col items-center justify-between">
            <h3 class="text-2xl leading-6 font-medium text-black tracking-wider titlecase" id="modal-title">
              Welcome!
            </h3>
            <p class="mt-4 text-xl text-gray-700 font-light md:w-80 text-center">
              Please use the buttons below to apply for a new building permit or to register your exisiting
              infrastructures.
            </p>
          </div>
          <div class="flex flex-col md:flex-row justify-between items-center md:gap-10 my-6 mb-20">
            <a href="{% url 'apply_existing_infra' %}" id="close-modal-btn" type="button"
              class="border border-gray-200 px-4 py-3 mt-10 bg-orange-400 hover:bg-orange-600 text-white rounded tracking-wider">
              Upload Existing Facilities
            </a>
            <a href="{% url 'apply_for_permit' %}" id="close-modal-btn" type="button"
              class="border border-orange-400 px-4 py-3 mt-10 bg-transparent hover:border-gray-800 hover:text-gray-800 text-orange-400 rounded tracking-wider">
              Apply for New permit to Build
            </a>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
    </script>

    {% block script %}
    <script>
      const modal = document.getElementById("modal");
      const closeButton = document.getElementById("close-modal-btn");
      const btn = document.getElementsByName("button");

      const displayPopup = function (e) {
        modal.classList.remove('hidden')

      }

      const delayPopUp = setTimeout(displayPopup, 4000)

      closeButton.addEventListener("click", function (e) {
        modal.classList.add("hidden");
      });

      // btn.addEventListener('click', ())
    </script>
    {% endblock %}