{% extends 'base.html' %} {% load static %} {% block content %}
<section class="relative w-full flex flex-row items-start justify-start h-screen z-10">

  {% include 'tax-payers/aside.html' %}


  <main class="main_side">

    <!-- Top Bar with title page, buttons and notification tabs -->
    <section class="w-full flex flex-row justify-between items-center mb-10">
      <article class="flex flex-col">
        <h2 class="text-xl text-darkBlue">Change Password</h2>
        <p class="text-sm text-gray600">
          Update user password
        </p>
      </article>

      {% include 'tax-payers/partials/toasts.html' %}
      {% include 'tax-payers/partials/inc/user_logo.html' %}
    </section>
    <!-- Form Tab -->

    <section class="mt-5 space-x-4 flex flex-col md:flex-row">
      <article class="flex flex-row items-center justify-center space-x-2">
        <form action="" method="post" class="flex flex-col space-y-3">
          {% csrf_token %}
          <!-- <input class="bg-white py-3 label text-sm text-gray-600" name="old_password" placeholder="Enter old password" /> -->
          <input type="password" class="bg-white py-3 label text-sm text-gray-600" name="new_password"
            placeholder="Enter new password" />
          <button
            class="border border-gray-200 px-4 py-3 bg-orange-400 hover:bg-orange-600 text-white rounded tracking-wider"
            type="submit">
            Save new password</button>
        </form>
      </article>
    </section>
    {% endblock %}