
      <article
        class="w-fit space-x-5 flex flex-row items-center justify-between bg-lightGray600 rounded-full bg-slate-100 p-3"
      >
        <img
          width="20"
          height="20"
          src="https://img.icons8.com/ios/100/appointment-reminders--v1.png"
          alt="appointment-reminders--v1"
        />
        <p class="text-sm text-gray800">{{ request.user }}</p>
        <div class="w-6 h-6 rounded-full">
          <img
            src="/media/{{ request.user.company_logo }}"
            alt="LG"
          />
        </div>
      </article>